/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes increasingTheSize {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

.button__decor::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: transform .5s ease-in-out;
}
  
.button__decor:hover::before {
    transform: translateX(100%);
}
  
.button__decor:focus-visible {
    outline: none ;
    box-shadow: 2px 2px 0 var(--main-color);
    transform: translate(0, 0);
}

.button__decor:focus {
    outline: none;
}

.is-liked .heart {
    animation: increasingTheSize .3s .1s ease-in ;
}

@keyframes appearanceAndExtinction {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.heart {
    transform-origin: center;
}
  
.contour {
    transition: fill .1s linear;
}
  
.like-icon.is-liked .contour {
    fill: var(--accent-like-color);
    transition: fill .3s .06s linear;
}
  
.main-body {
    fill: transparent;
    transition: fill .3s .0s linear;
}
  
.like-icon:hover .main-body {
    fill: var(--main-like-color);
    transition: fill .3s .05s linear;
}
  
.like-icon:active .main-body {
    fill: var(--accent-like-color);
    transition: fill .3s .05s linear;
}
  
.like-icon.is-liked .main-body {
    fill: var(--accent-like-color);
    transition: fill .3s .05s linear;
}
  
.core {
    fill: transparent;
    transition: fill .3s .03s linear;
}
  
.like-icon:hover .core {
    fill: var(--main-like-color);
    transition: fill .3s 0s linear;
}
  
.like-icon:active .core {
    fill: var(--accent-like-color);
    transition: fill .3s 0s linear;
}
  
.like-icon.is-liked .core {
    fill: var(--accent-like-color);
    transition: fill .3s 0s linear;
}
  
.sparks {
    opacity: 0;
}
  
.is-liked .sparks {
    animation: appearanceAndExtinction .3s .3s ease-in;
}

.card__icon-button:focus-visible {
    border: 2px solid var(--main-color);
}
 